[Unit]
Description=Kubernetes Kube Proxy
Documentation=https://github.com/kubernetes/kubernetes
After=network.target

[Service]
ExecStart=/usr/local/bin/kube-proxy \
  --config=/etc/kubernetes/kube-proxy.conf \
{% if k8s_log is defined and k8s_log and kube_proxy_bin %}
  --logtostderr=false \
  --log-dir={{ log.apiserver.dir }}/kube-proxy \
{% endif %}
  --v=2

Restart=always
RestartSec=10s

[Install]
WantedBy=multi-user.target
